absl-py==1.0.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
amply==0.1.2
amqp==5.0.9
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.4.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
bleach==5.0.0
blessed==1.19.1
boto3==1.23.8
botocore==1.26.8
cached-property==1.5.2
cachetools==5.1.0
celery==5.0.5
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.1.0
colorama==0.4.4
colorful==0.5.4
colorlog==6.6.0
cycler==0.11.0
dask==2022.2.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.4
distributed==2022.2.0
Django==2.2
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.6.2
django-admin-tools==0.8.1
django-celery-beat==2.2.1
django-cors-headers==2.2.0
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-grappelli==2.13.4
django-tagulous==1.0.0
django-timezone-field==4.2.1
djangorestframework==3.12.4
docutils==0.16
draftfast>=3.5.8
easydev==0.12.0
entrypoints==0.4
et-xmlfile==1.1.0
fastjsonschema==2.15.3
filelock==3.7.0
fitter==1.4.0
flower==1.0.0
fonttools==4.28.5
frozenlist==1.3.0
fsspec==2022.5.0
google-api-core==2.8.0
google-auth==2.6.6
googleapis-common-protos==1.56.1
gpustat==1.0.0b1
greenlet==1.1.2
grpcio==1.43.0
HeapDict==1.0.1
humanize==3.13.1
idna==2.6
importlib-metadata==4.10.0
importlib-resources==5.7.1
ipykernel==6.13.0
ipython==7.33.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==4.3.21
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.0
joblib==0.16.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.3.2
kombu==5.2.3
lazy-object-proxy==1.4.3
locket==1.0.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mip==1.13.0
mistune==0.8.4
modin==0.12.1
modin-spreadsheet==0.1.2
msgpack==1.0.3
multidict==6.0.2
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.11
numpy==1.21.5
nvidia-ml-py3==7.352.0
opencensus==0.9.0
opencensus-context==0.1.2
openpyxl==3.0.9
ortools==9.0.9048
packaging==21.3
pandas==1.3.5
pandasql==0.7.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==2.5.2
plumbum==1.7.2
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.19.3
psutil==5.9.1
psycopg2-binary==2.7.4
ptyprocess==0.7.0
PuLP==2.4
py-spy==0.3.12
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
-e git+https://github.com/kkeeling/pydfs-lineup-optimizer@f5aa39c78161b1cd871b3fb75f8adba2452196de#egg=pydfs_lineup_optimizer
Pygments==2.12.0
pylint==2.5.3
pyparsing==2.4.7
pyrsistent==0.18.1
python-crontab==2.6.0
python-dateutil>=2.8.2
pytz==2020.5
PyYAML==6.0
pyzmq==23.0.0
qtconsole==5.3.0
QtPy==2.1.0
ray==1.12.1
redis==4.1.0
requests==2.18.4
rpyc==4.1.5
rsa==4.8
s3transfer==0.5.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.2
Send2Trash==1.8.0
six==1.15.0
smart-open==6.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.29
sqlparse==0.3.1
tblib==1.7.0
terminado==0.15.0
terminaltables==3.1.0
threadpoolctl==2.1.0
tinycss2==1.1.1
toml==0.10.1
toolz==0.11.2
tornado==6.1
traitlets==5.2.1.post0
typed-ast==1.4.1
typing-extensions==4.0.1
urllib3>=1.25.4
uWSGI==2.0.20
vine==5.0.0
virtualenv==20.14.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
wrapt==1.12.1
yarl==1.7.2
zict==2.2.0
zipp==3.7.0