{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load slate_build %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
.table { display:table; }
.row   { display:table-row; }
.cell  { display:table-cell; border:1px solid black; padding:3px; width:110px; }
</style>
{% endblock %}

{% block content %}
<div id="content-main">
    <section class="dashboard-section">
        <header><h2>{{ build.slate.week }}</h2></header>
        {% rb_matrix build %}
    </section>
</div>
{% endblock %}